@import "../../helpers/mixin";

.sidebar {
  min-width: var(--sidebar-width);
  position: fixed;
  height: 100vh;
  padding: 40px 20px;
  left: 0;
  top: 0;
  background-color: #200545  ;
  box-shadow: var(--box-shadow);
  overflow: hidden;


  @include flex_colum(25px);
  .sidebar_logo {
    width: 85px;
    height: 85px;
  }

  .sidebar_content {
    @include flex_colum(15px);
  }
}

.sideBar_item {
  height: 100%;
  .sideBar_item-inner {
    font-weight:600;
    @include flex($align: center);
    transition: all .3s linear  ;
    color: var(--txt-color-dark);
    i {
      margin-right:10px;
      font-size: 1.5rem;
    }
    span {
      text-transform: capitalize;
    }

    //? Events
    &:hover {
      color: #eb2b63;
    }

    &.active {
      position: relative;
      width: 114%;
      border-radius: var(--border-radius);
      padding-left: 20px;
      background-color: #FFF;
      transition: all .3s ease;
      height: 40px;
      color: var(--main-color);
    }
  }
}
